.hart{
    background-image:url(../../images/c421661c-c1bf-4313-a2b2-d32a2c1c8c3e.jpeg);
    text-align: center;
    justify-content: center;
    height: 400px;
}

.background{
    height: 500px;
    width: 200px;
    
}