label{
    display: flex;
    margin-bottom: 1px;
}
.hire{
    font-size: 18px;
    font-weight: 500;
}
.error{
    color:red
}
.form-control{
    margin: 20px;
}

input[type='text'],
input[type='email']{
    display: block;
    width: 600px;
    line-height: 2.5;
    color: black;
    background-color: azure;
    border: 1px solid #ccc;
    border-radius: 8px;
}
textarea{
    display: block;
    width: 600px;
    line-height: 5;
    color: black;
    background-color: azure;
    border: 1px solid #ccc;
    border-radius: 8px;
}
button{
    background-color: rgb(155, 154, 154);
    border-radius: 3px;
    width: 100px;
    color: rgb(7, 7, 7);
}
button:hover{
    color: antiquewhite;
}

fieldset.group  { 
    margin: 0; 
    padding: 0; 
    margin-bottom: 1em; 
    padding: 0; 
  } 
  
  fieldset.group legend { 
    margin: 0; 
    padding-top: 10px; 
    font-weight: none ; 
    margin-left: 0px; 
    font-size: 100%; 
    color: black; 
  } 
  
  
  ul.checkbox  { 
    margin: 0; 
    padding: 0; 
    margin-left: 0px; 
    list-style: none; 
  } 
  
  ul.checkbox li input { 
    margin-right: .25em; 
  } 
  
  ul.checkbox li { 
    border: 1px transparent solid; 
    display:inline-block;
    width:10em;
  } 
  
  ul.checkbox li:hover, 
  ul.checkbox li.focus  { 
    background-color: none; 
    border: 1px rgb(8, 7, 7) solid; 
    border-radius: 8px;
    width: 10em; 
  } 
  