.btn1{
    background: #0086B0;
    border-radius: 8px;
    width: 150px;
    height: 33px;
    border: none;
    font-size: 20px;
    line-height: 1.5px;
    color: #faf9fb;
    font-weight: 400;
  
  }
  