/* App.css */

/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Header styles */
  header {
    background-color: #004E74; /* BLUE */
    color: #efe6e6; /* WHITE */
    text-align: center;
    padding: 0.25em;
    padding-top: 0.3em;
  }
  
  /* Navigation styles */
  nav {
    background-color: #fe3253; /* RED */
    padding: 1em;
    display: flex;
    justify-content: space-between /* Align items at each end */
  }
  
  nav a {
    text-decoration: none;
    color: #efe6e6; /* WHITE */
    margin: 0 1em;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Section styles */
  section {
    padding: 1em;
  }
  
  /* Footer styles */
  footer {
    background-color: #4D4D4D; /* GREY */
    color: #efe6e6; /* WHITE */
    text-align: center;
    padding: 1em;
    position: relative; /* Enable positioning for absolute positioning inside */
  }
  

